<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CARD</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<a class="nav-bar-logo" href="./"><p>CYBER UI</p></a>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item text-xs">
						<a href="../Alert" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Avatar" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../List" class="link-text">List</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Text-Utilities" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="flex-center-component">
				<div class="component">
					<h1 class="component-header">Card</h1>
					<p class="component-text">
						Use the Card Component to display information for a single object
						with a text, as well as an image. Use the class
						<span class="highlight">card</span> for card component with classes 
						<span class="highlight">card-vertical card-horizontal</span> for vertical 
						and horizontal cards respectively. You can refer to the codes given below for each type.
					</p>

					<h2 class="component-sub-header">Text only cards</h2>
					<div class="card-container">
						<div class="card card-vertical">
							<div>
								<h3 class="card-heading">The Fountainhead</h1>
							</div>
							<div class="card-text">	
								<p>The Fountainhead is a 1943 novel by Russian-American
									 author Ayn Rand, her first major literary success. 
									 The novel's protagonist, Howard Roark, is an intransigent 
									 young architect.
								</p>
							</div>
						    <div class="card-btns">
								<button class=" btn btn-secondary">Show more</button>	
							</div>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-text.html&style=a11y-dark&showCopy=on"></script>
					</div>

					<h2 class="component-sub-header">Card with badge</h2>
					<div class="card-container">
						<div class="card card-vertical">
							<div>
								<img
									class="card-img"
									src="../../assets/cover.jpg"
									alt="random image"
								/>
								<h3 class="card-heading">The Fountainhead<span><button class="btn btn-icon"><i class="far fa-heart"></i></button></span></h1>
							</div>
							<div class="card-text">
								<p>by Ayn Rand</p>
								<p>₹237.00</p>
							</div>
							<div class="card-btns">
								<button class=" btn btn-secondary">Add to cart</button>
							</div>
							<div class="card-badge">New!</div>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-badge.html&style=a11y-dark&showCopy=on"></script>
					</div>

					<h2 class="component-sub-header">Card with dismiss</h2>
					<div class="card-container">
						<div class="card card-vertical">
							<div>
								<img
									class="card-img"
									src="../../assets/cover.jpg"
									alt="random image"
								/>
								<h3 class="card-heading">The Fountainhead<span><button class="btn btn-icon"><i class="far fa-heart"></i></button></span></h1>
							</div>
							<div class="card-text">
								<p>by Ayn Rand</p>
								<p>₹237.00</p>
							</div>
							<div class="card-btns">
								<button class=" btn btn-secondary">Add to cart</button>
								<button class="btn btn-icon dismiss-btn"><i class="fas fa-times"></i></button>
							</div>
							<div class="card-badge">New!</div>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-dismiss.html&style=a11y-dark&showCopy=on"></script>
					</div>
			
					<h2 class="component-sub-header">Horizontal and Vertical cards</h2>
					<div class="card-container">
						<div class="card card-vertical">
							<div>
								<img
									class="card-img"
									src="../../assets/cover.jpg"
									alt="random image"
								/>
								<h3 class="card-heading">The Fountainhead<span><button class="btn btn-icon"><i class="far fa-heart"></i></button></span></h1>
							</div>
							<div class="card-text">
								<p>by Ayn Rand</p>
								<p>₹237.00</p>
							</div>
							<div class="card-btns">
								<button class=" btn btn-secondary">Add to cart</button>
								<button class="btn btn-icon dismiss-btn"><i class="fas fa-times"></i></button>
							</div>
							<div class="card-badge">New!</div>
						</div>
						<div class="card card-horizontal">
							<div>
								<img
									class="card-img"
									src="../../assets/cover.jpg"
									alt="random image"
								/>
							</div>
							<div class="card-horizontal-data">
								<h3 class="card-heading">The Fountainhead</h1>
								<div class="card-text">
									<p>by Ayn Rand</p>
									<p>₹237.00</p>
								</div>
								<div class="card-btns">
									<button class=" btn btn-secondary">Add to cart</button>
									<button class=" btn btn-secondary">Add to wishlist</button>
									<button class="btn btn-icon dismiss-btn"><i class="fas fa-times"></i></button>
								</div>
								<div class="card-badge">New!</div>
							</div>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-vertical.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-horizontal.html&style=a11y-dark&showCopy=on"></script>
					</div>

					<h2 class="component-sub-header">Card with text overlay</h2>
					<div class="card-container">
						<div class="card card-vertical">
							<div>
								<img
									class="card-img"
									src="../../assets/cover.jpg"
									alt="random image"
								/>
								<h3 class="card-heading">The Fountainhead<span><button class="btn btn-icon"><i class="far fa-heart"></i></button></span></h1>
							</div>
							<div class="card-text">
								<p>by Ayn Rand</p>
								<p>₹237.00</p>
							</div>
							<div class="card-btns">
									<button class=" btn btn-secondary">Add to cart</button>
									<button class="btn btn-icon dismiss-btn"><i class="fas fa-times"></i></button>
							</div>
							<div class="card-badge">New!</div>
							<div class="card-text-overlay">OUT OF STOCK</div>
						</div>
						<div class="card card-horizontal">
							<div>
								<img
									class="card-img"
									src="../../assets/cover.jpg"
									alt="random image"
									/>
							</div>
							<div class="card-horizontal-data">
								<h3 class="card-heading">
								The Fountainhead</h1>
								<div class="card-text">
									<p>by Ayn Rand</p>
									<p>₹237.00</p>
								</div>
								<div class="card-btns">
									<button class=" btn btn-secondary">Add to cart</button>
									<button class=" btn btn-secondary">Add to wishlist</button>
									<button class="btn btn-icon dismiss-btn"><i class="fas fa-times"></i></button>
								</div>
								<div class="card-badge">New!</div>
								<div class="card-text-overlay">OUT OF STOCK</div>
							</div>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-vertical-overlay.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FCard%2Fcard-horizontal-overlay.html&style=a11y-dark&showCopy=on"></script>
					</div>
				</div>
			</div>
		</main>
		<!-- <footer>FOOTER - ADD LATER</footer> -->
	</body>
</html>
