<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CARD</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<a class="nav-bar-logo" href="./"><p>CYBER UI</p></a>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item text-xs">
						<a href="../Alert" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Avatar" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../List" class="link-text">List</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Text-Utilities" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="flex-center-component">
				<div class="component">
					<h1 class="component-header">Card</h1>
					<p class="component-text">
						Use the Card Component to display information for a single object
						with a text, as well as an image. Use the class
						<span class="highlight">card</span> for card component.
					</p>
					<h2 class="component-sub-header">Text only cards</h2>
					<p class="component-text">
						Use the classes
						<span class="highlight">
							btn-primary btn-secondary btn-link btn-icon btn-floating</span
						>
						for buttons of different types. You can refer to the code given
						below. (The floating button is on the bottom right)
					</p>

					<div class="component-display horizontal">
						<button class="btn btn-primary">Primary</button>
						<button class="btn btn-secondary">Secondary</button>
						<a href="#" class="btn btn-link">Link</a>
						<button class="btn btn-icon">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button class="btn btn-floating btm-r">
							<i class="fas fa-arrow-up"></i>
						</button>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-primary.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-secondary.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-link.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-icon.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-floating.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<h2 class="component-sub-header">Button disabled</h2>
					<p class="component-text">
						Use the class <span class="highlight">btn-disabled</span> to disable
						any button. You can refer to the code given below. (The floating
						button is on the bottom left)
					</p>
					<div class="component-display horizontal">
						<button class="btn btn-primary btn-disabled">Primary</button>
						<button class="btn btn-secondary btn-disabled">Secondary</button>
						<a href="#" class="btn btn-link btn-disabled">Link</a>
						<button class="btn btn-icon btn-disabled">
							<i class="fas fa-shopping-cart"></i>
						</button>
						<button class="btn btn-floating btm-l btn-disabled">
							<i class="fas fa-arrow-up"></i>
						</button>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-primary-disabled.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-secondary-disabled.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-link-disabled.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-icon-disabled.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FButton%2Fbutton-floating-disabled.html&style=a11y-dark&showCopy=on"></script>
					</div>
				</div>
			</div>
		</main>
		<!-- <footer>FOOTER - ADD LATER</footer> -->
	</body>
</html>
