<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AVATAR</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<a class="nav-bar-logo" href="./">CYBER UI</a>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item text-xs">
						<a href="../Alert" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Card" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../List" class="link-text">List</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Text-Utilities" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="flex-center-component">
				<div class="component">
					<h1 class="component-header">Avatar</h1>
					<p class="component-text">
						Use the Avatar Component as a graphical representation of a person
						through a profile picture or a string with initials. Use the class
						<span class="highlight">avatar</span> for avatar component and
						classes
						<span class="highlight">
							avatar-xl avatar-l avatar-m avatar-s avatar-xs</span
						>
						for avatars of different sizes.
					</p>
					<h2 class="component-sub-header">Image Avatar</h2>
					<p class="component-text">
						Use the <span class="highlight">img</span> tag inside the avatar
						component with class <span class="highlight">avatar-img</span>. You
						can refer to the code given below.
					</p>
					<div class="component-display horizontal">
						<div class="avatar avatar-xl">
							<img
								class="avatar-img"
								src="../../assets/avatar.png"
								alt="avatar"
							/>
						</div>
						<div class="avatar avatar-l">
							<img
								class="avatar-img"
								src="../../assets/avatar.png"
								alt="avatar"
							/>
						</div>
						<div class="avatar avatar-m">
							<img
								class="avatar-img"
								src="../../assets/avatar.png"
								alt="avatar"
							/>
						</div>
						<div class="avatar avatar-s">
							<img
								class="avatar-img"
								src="../../assets/avatar.png"
								alt="avatar"
							/>
						</div>
						<div class="avatar avatar-xs">
							<img
								class="avatar-img"
								src="../../assets/avatar.png"
								alt="avatar"
							/>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-img-xl.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-img-l.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-img-m.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-img-s.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-img-xs.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<h2 class="component-sub-header">Text Avatar</h2>
					<p class="component-text">
						Use the <span class="highlight">p</span> tag inside the avatar
						component with class <span class="highlight">avatar-text</span>. You
						can refer to the code given below.
					</p>
					<div class="component-display horizontal">
						<div class="avatar avatar-xl"><p class="avatar-text">MV</p></div>
						<div class="avatar avatar-l"><p class="avatar-text">MV</p></div>
						<div class="avatar avatar-m"><p class="avatar-text">MV</p></div>
						<div class="avatar avatar-s"><p class="avatar-text">MV</p></div>
						<div class="avatar avatar-xs"><p class="avatar-text">MV</p></div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-text-xl.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-text-l.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-text-m.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-text-s.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAvatar%2Favatar-text-xs.html&style=a11y-dark&showCopy=on"></script>
					</div>
				</div>
			</div>
		</main>
		<!-- <footer>FOOTER - ADD LATER</footer> -->
	</body>
</html>
