<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LIST</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<a class="nav-bar-logo" href="./"><p>CYBER UI</p></a>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item text-xs">
						<a href="../Alert" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Avatar" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Card" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">List</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Text-Utilities" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="flex-center-component">
				<div class="component">
					<h1 class="component-header">List</h1>
					<p class="component-text">
						Use List to display a repeated piece of information with text,
						icons, and images. Use the class
						<span class="highlight">list-container</span> with
						<span class="highlight">list-item</span> for list component. You can
						refer to the code given below.
					</p>
					<h2 class="component-sub-header">Default List</h2>
					<div class="list-display">
						<ul class="list-container">
							<li class="list-item">List Item 1</li>
							<li class="list-item">List Item 2</li>
							<li class="list-item">List Item 3</li>
							<li class="list-item">List Item 4</li>
							<li class="list-item">List Item 5</li>
						</ul>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FList%2Fdefault-list.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<h2 class="component-sub-header">Stacked List</h2>
					<div class="list-display">
						<ul class="list-container">
							<li class="list-item">
								<div class="avatar avatar-xs">
									<img
										class="avatar-img"
										src="../../assets/avatar.png"
										alt="avatar"
									/>
								</div>
								<p class="list-msg">User liked your post</p>
								<p class="list-time">1min ago</p>
							</li>
							<li class="list-item">
								<div class="avatar avatar-xs">
									<img
										class="avatar-img"
										src="../../assets/avatar.png"
										alt="avatar"
									/>
								</div>
								<p class="list-msg">User liked your post</p>
								<p class="list-time">1hr ago</p>
							</li>
							<li class="list-item">
								<div class="avatar avatar-xs">
									<img
										class="avatar-img"
										src="../../assets/avatar.png"
										alt="avatar"
									/>
								</div>
								<p class="list-msg">User followed you</p>
								<p class="list-time">1d ago</p>
							</li>
						</ul>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FList%2Fstacked-list.html&style=a11y-dark&showCopy=on"></script>
					</div>
				</div>
			</div>
		</main>
		<!-- <footer>FOOTER - ADD LATER</footer> -->
	</body>
</html>
