@import url(../../styles.css);

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 1rem;
	color: var(--theme-text-white);
	background-color: var(--theme-primary);
}

.nav-bar-logo {
	margin: 0% 1rem;
	color: var(--theme-text-white);
}

.nav-bar-logo:hover {
	cursor: pointer;
}

.nav-bar-main {
	display: flex;
	align-items: center;
}

.page-link {
	border: 2px solid var(--theme-primary);
	color: var(--theme-text-white);
	margin: 0 1rem;
}
.socials-link {
	color: var(--theme-text-white);
}

.page-active {
	border-bottom: 2px solid var(--theme-text-white);
}
