@import url(../../styles.css);

.nav-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 1rem;
	color: var(--theme-text-white);
	background-color: var(--theme-primary);
}

.nav-bar-logo {
	margin: 0% 1rem;
	color: var(--theme-text-white);
	font-size: 1.5rem;
	font-weight: 600;
	margin: 8px 1rem 8px 0;
}

.nav-bar-logo:hover {
	cursor: pointer;
}

.nav-bar-main {
	display: flex;
	align-items: center;
}

.page-link {
	border: 2px solid var(--theme-primary);
	color: var(--theme-text-white);
	margin: 0 1rem;
}
.socials-link {
	color: var(--theme-text-white);
}

.page-active {
	border-bottom: 2px solid var(--theme-text-white);
}

.nav-bar i {
	font-size: 2rem;
}
.nav-bar i:hover {
	background-color: inherit;
}
