<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MODAL</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<a class="nav-bar-logo" href="./"><p>CYBER UI</p></a>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item text-xs">
						<a href="../Alert" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Avatar" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Card" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../List" class="link-text">List</a>
					</li>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Text-Utilities" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="component">
				<h2>Modal</h2>
			</div>
		</main>
		<footer>FOOTER - ADD LATER</footer>
	</body>
</html>
