<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TEXT UTILITIES</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<p class="nav-bar-logo">CYBER UI</p>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item text-xs">
						<a href="../Alert" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Avatar" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Card" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">List</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="flex-center-component">
				<div class="component">
					<h1 class="component-header">Text Utilities</h1>
					<p class="component-text">
						Text of different styles can be used, refer to the code given below.
					</p>

					<div class="component-display component-text-utilities">
						<h1>Heading 1</h1>
						<h2>Heading 2</h2>
						<h3>Heading 3</h3>
						<h4>Heading 4</h4>
						<h5>Heading 5</h5>
						<h6>Heading 6</h6>
						<p>paragraph</p>
						<div class="text-small">small text</div>
						<div class="text-gray">gray text</div>
						<div class="text-center">center text</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fh1.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fh2.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fh3.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fh4.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fh5.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fh6.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fp.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fsmall.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fgray.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FText-Utilities%2Fcenter.html&style=a11y-dark&showCopy=on"></script>
					</div>
				</div>
			</div>
		</main>
		<!-- <footer>FOOTER - ADD LATER</footer> -->
	</body>
</html>
