:root {
	--theme-primary: #f85f6a;
	--theme-primary-600: #df555f;
	--theme-primary-400: #ff7d88;
	--theme-primary-300: #ffc8d0;
	--theme-info: #1199d8;
	--theme-info-400: #9fd6ef;
	--theme-warning: #e7b100;
	--theme-warning-400: #fff2b2;
	--theme-success: #6ab547;
	--theme-success-400: #c3e1b5;
	--theme-error: #ee3625;
	--theme-error-400: #f9c2bd;
	--theme-bg-grey: #f0f0f0;
	--theme-bg-white: #ffffff;
	--theme-bg-rating: #a0a0a0;
	--theme-bg-toast: #444444;
	--theme-text-black: #282828;
	--theme-text-white: #ffffff;
	--theme-badge-green: #31d843;
	--theme-badge-red: #c5283d;
	--theme-badge-yellow: #ffd166;
	--theme-rating-active: #ffd700;
	--theme-rating-inactive: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--theme-bg-grey);
	color: var(--theme-text-black);
	display: flex;
	flex-direction: column;
}

li {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
}

a {
	text-decoration: none;
	font-size: 1.25rem;
}

i {
	font-size: 1.5rem;
}
