<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ALERT</title>
		<link rel="stylesheet" href="./styles.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<div class="nav-bar-main">
				<a class="nav-bar-logo" href="./"><p>CYBER UI</p></a>
				<a class="page-link" href="../../index.html">HOME</a>
				<a class="page-link page-active" href="../Alert">DOCUMENTATION</a>
			</div>
			<div class="nav-bar-socials">
				<a
					class="socials-link"
					href="https://github.com/manish-GH"
					target="_blank"
				>
					<i class="fa-fw fab fa-github btn-icon"></i>
				</a>
			</div>
		</nav>
		<main class="grid-container">
			<div class="sidebar">
				<h3 class="sidebar-head">Components</h3>
				<ul>
					<li class="sidebar-item sidebar-item-active text-xs">
						<a href="" class="link-text">Alert</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Avatar" class="link-text">Avatar</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Badge" class="link-text">Badge</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Button" class="link-text">Button</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Card" class="link-text">Card</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Grid" class="link-text">Grid</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Image" class="link-text">Image</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Input" class="link-text">Input</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../List" class="link-text">List</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Modal" class="link-text">Modal</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Navigation" class="link-text">Navigation</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Rating" class="link-text">Rating</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Text-Utilities" class="link-text">Text Utilities</a>
					</li>
					<li class="sidebar-item text-xs">
						<a href="../Toast" class="link-text">Toast</a>
					</li>
				</ul>
			</div>
			<div class="flex-center-component">
				<div class="component">
					<h1 class="component-header">Alert</h1>
					<p class="component-text">
						Alerts are used to attract user's attention for important
						information without interrupting the user's flow. Use the class
						<span class="highlight">alert</span> for alert component and classes
						<span class="highlight">
							alert-info alert-success alert-error alert-warning</span
						>
						for alerts of different types.
					</p>

					<div class="component-display vertical">
						<div class="alert alert-info">
							<div class="alert-msg">
								<span class="alert-icon"
									><i class="fas fa-info-circle"></i></span
								>This is an info alert!
							</div>
							<div class="alert-close-btn">
								<i class="fas fa-times"></i>
							</div>
						</div>
						<div class="alert alert-success">
							<div class="alert-msg">
								<span class="alert-icon"
									><i class="fas fa-check-circle"></i></span
								>This is a success alert!
							</div>
							<div class="alert-close-btn">
								<i class="fas fa-times"></i>
							</div>
						</div>
						<div class="alert alert-error">
							<div class="alert-msg">
								<span class="alert-icon"
									><i class="fas fa-exclamation-circle"></i></span
								>This is an error alert!
							</div>
							<div class="alert-close-btn">
								<i class="fas fa-times"></i>
							</div>
						</div>
						<div class="alert alert-warning">
							<div class="alert-msg">
								<span class="alert-icon"
									><i class="fas fa-exclamation-triangle"></i
								></span>
								This is a warning alert!
							</div>
							<div class="alert-close-btn">
								<i class="fas fa-times"></i>
							</div>
						</div>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAlert%2Falert-info.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAlert%2Falert-success.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAlert%2Falert-error.html&style=a11y-dark&showCopy=on"></script>
					</div>
					<div class="code-snippet">
						<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish-GH%2FCyber-UI-Code-Snippets%2Fblob%2Fdev%2FAlert%2Falert-warning.html&style=a11y-dark&showCopy=on"></script>
					</div>
				</div>
			</div>
		</main>
		<!-- <footer>FOOTER - ADD LATER</footer> -->
	</body>
</html>
