@import url(../../styles.css);

.alert {
	padding: 1rem 1rem;
	width: 100%;
	height: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	font-size: 1.25rem;
}

.alert-info {
	background-color: var(--theme-info-400);
	color: var(--theme-info);
}

.alert-success {
	background-color: var(--theme-success-400);
	color: var(--theme-success);
}

.alert-error {
	background-color: var(--theme-error-400);
	color: var(--theme-error);
}

.alert-warning {
	background-color: var(--theme-warning-400);
	color: var(--theme-warning);
}

i {
	font-size: 1.2rem;
}

.alert-icon {
	margin-right: 5px;
}

i:hover {
	cursor: pointer;
}
